<h1 class="page-header">Documentation</h1>

<h2>MEAN STACK – MONGODB, EXPRESS, ANGULAR, NODE.JS</h2>
<p>Nowoczesne aplikacje internetowe budowane w oparciu o sprawdzone technologie coraz częściej wykorzystują tzw. stos MEAN –
  MongoDB, Express, Angular Node.js – zestaw różnych technologi, które łączy jeden język programowania JavaScript (a dokładniej
  – ECMAScript).
</p>
<hr>
<h2>NODE.JS</h2>
<p>
  Node.js jest używany jest do budowania aplikacji po stronie serwera. Oparty jest na silniku V8 i wykorzystuje nieblokujące
  operacje wejścia / wyjścia oraz asynchroniczny mechanizm zdarzeń.
</p>
<hr>
<h2>EXPRESS</h2>
<p>
  Express jest framework’iem dla aplikacji serwera zbudowanego w oparciu o Node.js, który upraszcza wiele operacji i przyśpiesza
  implementację kodu serwera.
</p>
<hr>
<h2>MONGODB</h2>
<p>
  MongoDB jest bazą danych MongoDBanych NoSQL, która jest skalowalna oraz niezwykle wydajna. Możliwość wykorzystania języka
  JavaScript do zapytań do bazy upraszcza budowanie aplikacji. Dane przechowywane są w postaci dokumentów i można je odczytać
  jako obiekty JSON / BSON z poziomu aplikacji.
</p>
<hr>
<h2>ANGULAR</h2>
<p>
  Angular wykorzystywany jest do budowy kodu systemu po stronie klienta (przeglądarki) i umożliwia implementowanie dynamicznych
  aplikacji internetowych w postaci jednej strony (tzw. Single-page application). Aplikacje budowanie w oparciu o Angular
  można projektować wg modelu MVC (ang. Model-View-Controller), gdzie modelem są dane w bazie MongoDB, widokiem kod HTML
  i CSS z elementami Angular, a kontrolerem kod Angular.
</p>
<hr>
<br>
<h2>Uruchomienie aplikacji</h2>
<p>
  W katalogu domowym komputera, w terminalu nalezy wpisać komendę
  <code>mongod</code>, która uruchomi wcześniej zainstalowaną baze danych mongodb. Następnie nalezy uruchomić serwer, w tym celu
  przechodzimy do katalogu aplikacji i wykonujemy komendę
  <code>npm start</code>. Na końcu potrzebujemy uruchomić system po stronie klienta, cały frontend aplikacji komendą
  <code>ng serve</code> w katalogu client naszej aplikacji.
</p>
<hr>
<br>
<h2>Mozliwości aplikacji</h2>
<p>
Jest to typowa aplikacja - blog. Aplikacja umozliwia tworzenie kont, na które potem mozemy się zalogować. Główną funkcją aplikacji jest tworzenie postów na blogu gdzie kazdy uzytkownik moze zamieszczać wpisy, edytować je oraz usuwać. Ponad to uzytkownicy mogą reagować na wpisy innych uzytkowników. Mogą komentować wpisy, klikać kciuk w górę lub w dół sygnalizując, ze dany post im się podoba lub nie.
</p>
